@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color: white; padding: 40px 0;">
    <img src="~/images/David-Headshot.jpg" alt="Descriptive Text">
    <h1 class="display-4" style="color: #333; font-size: 2.5em; margin-top: 10px; margin-bottom: 10px;">Welcome to My Test App</h1>
    <a href="https://github.com/djdagostino" class="btn btn-primary" style="font-size: 1.1em; padding: 10px 20px; margin-top: 30px; text-decoration: none; color: white;">My Github</a>
</div>


<footer style="background-color: white; color: black; text-align: center; padding: 20px 0;">
    <p>&copy; 2023 Your Company Name. All rights reserved.</p>
</footer>
